* {
    font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
    font-size: 18px;
}

.name {
    font-family: "Noto Serif", "Noto Serif CJK JP", serif;
    font-size: 3em;
}

body {
    background-color: #FDFDFB;
    color: #575279;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
}

.container {
    max-width: 800px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

.long-citation {
    max-width: 80%;
    text-align: justify;
    margin: auto;
}

h1 {
    text-align: center;
    color: #1c1a41;
}

h2 {
    color: #1c1a41;
    font-size: 1.5em;
    border-bottom: 2px solid #286983;
    padding-bottom: 5px;
}

h3 {
    font-size: 1.2em;
    color: #907aa9;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fffaf3;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #646cff;
}

a:hover {
    color: #535bf2;
}

.goback {
    display: inline-block;
    padding: 0.1em 0.4em;
    background-color: #31748f;
    color: #e0def4;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: background-color;
}

.container ol {
    text-align: justify;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

html {
    -webkit-text-size-adjust: 100%;
}

.raito {
    font-size: 1.3em;
    white-space: pre-line;
    word-wrap: break-word;
}

ruby {
    font-size: 1.4em;
}

button {
    border-radius: 8px;
    border: 1px solid #1a1a1a;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    color: #d7827e;
    cursor: pointer;
    transition: border-color 0.25s;
}


button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
